<section class="mt-5">
  <div class="container">

    <div class="position-relative">

      <div class="single-item w-100">
        <div>
          <a href="assets/image/main.png" class="popup-link">
            <img src="assets/image/main.png" class="w-100" alt="">
          </a>
        </div>
      </div>

    </div>

  </div>

</section>

<section class="section">
  <div class="container">
    <div class="text-center mb-5">
      <h2>Ответы на часто задаваемые вопросы</h2>
    </div>
    <div ngbAccordion>
      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Собираете ли вы подарочные боксы?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Сколько у вас разновидностей чая?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              Разновидностей чая у нас много, примерно 30 разных видов.
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>В какой срок осуществляется доставка?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              Доставка осуществляется в течение недели.
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>У вас обновляется ассортимент?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              Да. Каждый месяц мы обновляем ассортимент.
            </ng-template>
          </div>
        </div>
      </div>

      <div ngbAccordionItem>
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>Какого объема у вас пачки чая?</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              Примерный объем пачки 100 грамм.
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="popupVisible" class="popup">
  <div class="popup-text">Посмотрите наши чайные коллекции</div>
  <div class="popup-button">
    <button routerLink="catalog">Смотреть</button>
  </div>
</div>